html, body {
    max-width: 450px;
    margin: 10px;
    font-size: 12px;
    background-color: #e6f2ff;
    color: #003333;
}
input, button {
    min-height: 50px;
}
.error {
    color: white;
    background-color: lightcoral;
    padding: 10px 20px;
    text-align: center;
}
header h1, footer p
{
    font-weight: bold;
    padding: 20px;
    text-align: center;
}
.big
{
    text-align: center;
}
#data li
{
    font-size: 15px;
    color: #003333;
    padding: 5px;
}
#data a {
    color: #003333 !important;
    font-weight: 700;
}
#preloader {
    margin: 20% auto;
    text-align: center;
    width: 40px;
    height: 40px;
}