html, body {
    width: 500px;
    padding: 20px;
}
#data h2
{
    font-size: 20px;
}
#data h3
{
    font-size: 15px;
    color: black;
    padding: 20px;
}
.button {
    margin: 3% auto;
    padding: 4px;
    text-align: center;
    font-size: 1.5em;
    cursor: pointer;
}

.beast:hover {
    background-color: #CFF2F2;
}

.beast {
    background-color: #E5F2F2;
}

.clear {
    background-color: #FBFBC9;
}

.clear:hover {
    background-color: #EAEAC9;
}