html, body {
    width: 400px;
    margin: 50px;
}
#input_content
{
    padding: 20px;
    margin: 5px;
}
#input_content label
{
    font-size: 15px;
    margin-right: 5px;
}
.error {
    color: red;
    font-size: 15px;
}
header h2, footer p
{
    padding: 20px;
    text-align: center;
}
.big
{
    font-size: 20px;
    text-align: center;
}
#data h3
{
    font-size: 15px;
    color: black;
    padding: 20px;
}
.button {
    margin: 3% auto;
    padding: 4px;
    text-align: center;
    font-size: 1.5em;
    cursor: pointer;
}